.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 80px;
  height: 58px;
}

.nav__links {
  margin: 8px 0 0;
  display: flex;
  list-style: none;
  column-gap: 20px;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin-top: 128px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

/* Seção Escolhas da Equipe */
.staff {
  background: url("../images/staff_picks_background.jpg") no-repeat center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  position: relative;
}

.staff__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  color: #ffffff;
}

.staff__subtitle {
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 40px 0;
}

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  max-width: 760px;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 360px;
  height: 420px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-sizing: border-box;
}

.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.card__text {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  flex-grow: 1;
}

.card__footer {
  font-size: 14px;
  color: #777;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
